---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$scotch-primary: rgb(255, 69, 69);
$scotch-secondary: #FF7B7B;
$franco-brown: #432d25;
$franco-yellow:  #fff6a2;
$base-padding: 20px;
$dropDown: false;

%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
    @extend %roboto;
    background-color: $franco-brown;
    font-size: 18px;
    line-height: 30px;
    padding-top: 0px;
    -webkit-font-smoothing: antialiased;
}
p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $scotch-secondary;

    &:hover { color: #6165FF; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %oswald;
}
h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
    background: #086AFF;
    color: #fff;
}
.grow{
    transition: all .2s ease-in-out;
    &:hover, &:focus{
        transform: scale(1.1);
    }
}
.heading{
    color: $franco-yellow;
}

.content{
    p.text{
        color: $franco-yellow;
    }
}
.centered-text{
    text-align: center;
}

.icon-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.icons {
    color: $franco-yellow;
    width: 100px;
    height: 100px;
}

svg{
    width: 100px;
    height: 100px;
}

.hover-icon-link{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding-bottom: $base-padding;
    
    a:hover{    
        border-radius: 50px;
        padding-left: $base-padding;
        padding-right: $base-padding;
        background:$franco-yellow;
        color:$franco-brown;
        fill: $franco-brown;
        
        h3{
            color: $franco-brown;
        }

        path{
            fill: $franco-brown;
        }
        
        circle{
            fill: $franco-brown;
        }
    }


}



.value{
    padding-bottom: $base-padding;
}

.container{
    padding-top: $base-padding;
    padding-bottom: $base-padding;
}
.about-us-img{
    align-items: center;
    background-color: $franco-yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    padding: 0px;
    vertical-align: middle;

    img{
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

.no-right-padding{
    padding-right: 0px;
}

.no-left-padding{
    padding-left: 0px;
}



.border{
    border: 0.5px solid $franco-yellow;
    &.no-left-border{
        border-left: none;
    }
    &.no-right-border{
        border-right: none;
    }
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/* navbar */
.navbar.franco-navbar {
    background-color: $franco-brown;
    border-color: $franco-yellow;
    padding-right: $base-padding;
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    .navbar-brand{
        color: $franco-yellow;
        
        &:hover, &:focus{
            color: $franco-yellow;
        }
    }

    .navbar-text{
        color: $franco-brown;
    }

    .navbar-nav{
        > li{
            > a{
                color: $franco-yellow; 
                &:hover,  &:focus {
          color: $franco-brown;
          background-color: $franco-yellow; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $franco-brown;
          > li {
            > a {
              color: $franco-yellow;
              &:hover,  &:focus {
                color: $franco-brown;
                background-color: $franco-yellow; }}
            > .divider {
              background-color: $franco-yellow;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $franco-brown;
          background-color: $franco-yellow; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $franco-brown;
        background-color: $franco-yellow; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $franco-brown;
        background-color: $franco-yellow; }}}
  .navbar-toggle {
    border-color: $franco-yellow;
    &:hover, &:focus {
      background-color: $franco-brown; }
    .icon-bar {
      background-color: $franco-yellow; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $franco-yellow; }
  .navbar-link {
    color: $franco-yellow;
    &:hover {
      color: $franco-brown; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $franco-yellow;
      &:hover, &:focus {
        color: $franco-brown; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $franco-brown;
        background-color: $franco-yellow; }}}
}



.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 100px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}
h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %oswald;
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
    color: $scotch-primary;

    span {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        max-width: 1000px;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #e8e8e8;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
    }
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 125px;

    .inner-guts { padding: 50px; }

    h2 {
        margin: 0;
        font-size: 100px;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 100px;
    }

    .featurette {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 15px;
        width: 100%;
        height: 550px;
        background-color: #e8e8e8;

        .img {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 225ms ease;
            transform: scale(1);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background: #000;
                opacity: 0.4;
                transition: all 225ms ease;
            }
        }

        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .img {
                transform: scale(1.2);

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    .excerpt {
        font-size: 35px;
        font-weight: 300;
        line-height: 49px;
        color: #484848;

        p {
            margin: 0;
        }
    }

    .tags {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 15px;

        span {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5;
            text-transform: uppercase;
            @extend %oswald;
        }
    }

    .read-more {
        margin-top: 50px;
        width: 100%;
        max-width: 175px;
        position: relative;
        padding-right: 75px;

        i {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-54%);
            font-size: 31px;
            line-height: 100%;
        }
    }
}

aside {
    font-size: 17px;
    color: #525252;
    margin: 16px 0;
    @extend %oswald;

    span {
        text-transform: uppercase;
        margin: 0 5px;
    }
}

.site-footer {
    background-color: $franco-brown;
    color: $franco-yellow;
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    p{
        margin-bottom: 0px;
    }
    a{
        color: $franco-yellow;
        cursor: pointer;
    }
}

.pagination-wrap {
    text-align: center;
}

.topper {
    margin-top: 90px;
    height: 500px;
    position: relative;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 75px -100px;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }
}