---
---
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$scotch-primary: rgb(255, 69, 69);
$scotch-secondary: #FF7B7B;
$franco-brown: #432d25;
$franco-yellow:  #fff6a2;
$franco-placeholder: #ee646c;
$franco-footer-text: #ffffff;
$base-padding: 20px;
$base-margin: 20px;
$dropDown: false;

$franco-grey: #484848;
$franco-dark-blue: #0086a4;
$franco-blue: #52acc8;
$franco-light-blue: #70bbcc;
$franco-red: #ff3c3d;
$franco-pink: #ee646c;

%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
    @extend %roboto;
    background-color: white;
    font-size: 18px;
    line-height: 30px;
    padding-top: 0px;
    -webkit-font-smoothing: antialiased;
}
p, li{
    color: $franco-dark-blue;
}



.list-title{
    font-size: 20px;
    color: $franco-dark-blue;
    cursor: pointer;

    img{
        height: 15px;
        padding-left: 10px;
    }
}

.padding{
    padding: $base-padding;
}

.side-padding{
    padding: $base-padding;
}

.color-white{
    color: white;
    &.heading{
        color: white;
    }
}

.color-blue{
    color: $franco-blue;
}

.full-width{
    width: 100%;
}

.practice-area-list-item{
    padding-bottom: $base-padding;
}

.section-divider-container{
    .section-divider{
        height: 10px;
    }
}

.block{
    height: 75px;
}

.icon-block{
    height: 60px;
}

.color-dark-blue{
    color: $franco-dark-blue;
}

.background-red{
    background-color: $franco-red;
}

.background-pink{
    background-color: $franco-pink;
}

.background-grey{
    background-color: $franco-grey;
}

.background-blue{
    background-color: $franco-blue;
}

.background-light-blue{
    background-color: $franco-light-blue;
}

.background-dark-blue{
    background-color: $franco-dark-blue;
}


.vertical-center {
  min-height: 75px;
  
  display: flex;
  align-items: center;
}

.icon-title{
    font-size: 30px;
    font-weight: 500;
    padding-left: $base-padding;
    padding-right: $base-padding;
}

#footer-contact{
    min-height: 200px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $scotch-secondary;

    &:hover { color: #6165FF; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %oswald;
}
h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
    background: #086AFF;
    color: #fff;
}
.grow{
    transition: all .2s ease-in-out;
    &:hover, &:focus{
        transform: scale(1.1);
    }
}
.heading{
    color: $franco-dark-blue;
    padding-bottom: $base-padding;
}

.content{
    p.text{
        color: $franco-dark-blue;
    }
}

.centered-text{
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.icon-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    color: $franco-dark-blue;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

svg{
    width: 100px;
    height: 100px;
}

.hover-icon-link{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding-bottom: $base-padding;
    
    a:hover{    
        border-radius: 50px;
        padding-left: $base-padding;
        padding-right: $base-padding;
        background:$franco-yellow;
        color:$franco-brown;
        fill: $franco-brown;
        
        h3{
            color: $franco-brown;
        }

        path{
            fill: $franco-brown;
        }
        
        circle{
            fill: $franco-brown;
        }
    }


}



.value{
    padding-bottom: $base-padding;
}

.container{
    padding-top: $base-padding;
    padding-bottom: $base-padding;
}

.background-yellow{
    background-color: $franco-yellow;
}

.center-img{
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    padding: 0px;
    vertical-align: middle;

    img{
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

.no-right-padding{
    padding-right: 0px;
}

.no-left-padding{
    padding-left: 0px;
}

.base-padding{
    padding: $base-padding;
}

.border{
    border: 0.5px solid $franco-dark-blue;
    &.no-left-border{
        border-left: none;
    }
    &.no-right-border{
        border-right: none;
    }
}

@media only screen and (max-width: 768px) {
    .border{
      &.no-left-border{
        border-left: 0.5px solid $franco-dark-blue;
        }
      &.no-right-border{
        border-right: 0.5px solid $franco-dark-blue;
      }
      &.small-no-top-border{
        border-top: none;
      }
    }

    .small-center{
        margin: auto;
    }

    .small-bottom-padding{
        padding-bottom: $base-padding; 
    } 

    .icons{
        height: 150px;
        width: 150px;
    }

    svg{
        height: 150px;
        width: 150px;
    }   
}

.small-icon{
    height: 30px;
    margin-right: $base-padding;
    width:30px;
}


.gmnoprint{
    display: none;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input_text_box, .contact_page_box{

    background-color: white;
    border-width: 1px;
    border-color: $franco-dark-blue;
    border-style: solid;
    color: $franco-dark-blue;
    font-size: 20px;
    margin-bottom: $base-margin;
}

.footer_input, .footer_page_box{

    background-color: $franco-blue;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    font-size: 20px;
    margin-bottom: $base-margin;
}

.message-box{
    margin-top: $base-margin;
}

.send-btn{
    height: 40px;
    border-style: solid;
    border-color: $franco-dark-blue;
    color: $franco-dark-blue;
    margin-top: $base-margin;
    margin-bottom: $base-margin;
    background-color: white;
    box-shadow: none;

    &:hover{
    background-color: $franco-dark-blue;
    color: white;
    }
}

.send-btn2{
    height: 40px;
    background-color: $franco-blue;
    border-color: white;
    border-style: solid;
    color: $franco-footer-text;
    margin-top: $base-margin;
    margin-bottom: $base-margin;

    &:hover{
    background-color: white;
    color: $franco-dark-blue;
    }
}

.form-response{
    color: $franco-dark-blue;
    padding-bottom: $base-padding;
}

#consultform{

    ::-webkit-input-placeholder {
       color: $franco-placeholder;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $franco-placeholder;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $franco-placeholder;  
    }

    :-ms-input-placeholder {  
       color: $franco-placeholder;  
    }

}

#consultform2{

    ::-webkit-input-placeholder {
       color: $franco-footer-text;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $franco-footer-text;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $franco-footer-text;  
    }

    :-ms-input-placeholder {  
       color: $franco-footer-text;  
    }

}

/* footer */

.no-padding {
    margin-top: 0px;
}

ul {
    list-style: none;
}

.padding-right {
    padding-right: 20px;
}

/* navbar */

.navbar.franco-navbar {
    background-color: white;
    border-color: $franco-dark-blue;
    padding-right: $base-padding;
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    .navbar-brand{
        color: $franco-dark-blue;
        font-family: 'Poiret One', cursive;
        font-size: 40px;
        font-weight: 600;
        
        &:hover, &:focus{
            color: $franco-dark-blue;
        }
    }


    .navbar-nav{
        > li{
            > a{
                color: $franco-dark-blue; 
                &:hover,  &:focus {
          color: white;
          background-color: $franco-dark-blue; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: white;
          > li {
            > a {
              color: $franco-yellow;
              &:hover,  &:focus {
                color: $franco-brown;
                background-color: $franco-yellow; }}
            > .divider {
              background-color: $franco-yellow;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $franco-brown;
          background-color: $franco-yellow; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $franco-brown;
        background-color: $franco-yellow; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $franco-dark-blue;
        background-color: white; }}}
  .navbar-toggle {
    border-color: $franco-dark-blue;
    &:hover, &:focus {
      background-color: white; }
    .icon-bar {
      background-color: $franco-dark-blue; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $franco-dark-blue; }
  .navbar-link {
    color: $franco-dark-blue;
    &:hover {
      color: white; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $franco-dark-blue;
      &:hover, &:focus {
        color: white; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: white;
        background-color: $franco-dark-blue; }}}
}

.margin-top-20{
    margin-top: 20px;
}

.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 50px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}
h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %oswald;
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
    color: $franco-dark-blue;

    span {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        max-width: 1000px;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: $franco-dark-blue;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
    }
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 125px;

    .inner-guts { padding: 50px; }

    h2 {
        margin: 0;
        font-size: 100px;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 100px;
    }

    .featurette {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 15px;
        width: 100%;
        height: 550px;
        background-color: #e8e8e8;

        .img {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 225ms ease;
            transform: scale(1);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background: #000;
                opacity: 0.4;
                transition: all 225ms ease;
            }
        }

        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .img {
                transform: scale(1.2);

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    .excerpt {
        font-size: 35px;
        font-weight: 300;
        line-height: 49px;
        color: #484848;

        p {
            margin: 0;
        }
    }

    .tags {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 15px;

        span {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5;
            text-transform: uppercase;
            @extend %oswald;
        }
    }

    .read-more {
        margin-top: 50px;
        width: 100%;
        max-width: 175px;
        position: relative;
        padding-right: 75px;

        i {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-54%);
            font-size: 31px;
            line-height: 100%;
        }
    }
}

aside {
    font-size: 17px;
    color: #525252;
    margin: 16px 0;
    @extend %oswald;

    span {
        text-transform: uppercase;
        margin: 0 5px;
    }
}

.site-footer {
    background-color: $franco-blue;
    color: white;
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    p{
        margin-bottom: 0px;
        color: white;
    }
    a{
        color: white;
        cursor: pointer;
    }
}

.pagination-wrap {
    text-align: center;
}

.push{
    margin-top: 90px;
}

.topper {
    min-height: 500px;
    position: relative;

    &.about-us-section{
        clear: both;
        overflow: hidden;
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .blue-overlay{
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(82,172,200,0.5);
        z-index: 100;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 75px -100px;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        min-height: 300px;

        &.about-us-section{
            min-height: 720px;
        }
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }

    .small-background-blue{
        background-color: $franco-blue;
    }

    .navbar-brand > img {
        display: block;
        height: 45px;
    }
}

/*Who we are page*/

.bio-img{
    border-radius: 0%;
    display: flex;
    align-items: center;
    border: 5px solid $franco-dark-blue;
    
}


/*NavBar Logo */

.logo{
    height: 60px;
    position: relative;
    bottom: 20px;
}

// INDEX PAGE

.home-page-content{
    // padding-bottom: $base
}
#about-us-heading{
    padding-top: 40px;
    font-size: 36px;
    font-weight: 600;
}

#about-us-content{
    margin: auto;
    max-width: 700px;
    padding: 20px;
    font-size: 20px;
}

.values{
    cursor: pointer;
}

.value-content{
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: $base-padding;
}

//CONTACT US

.divider-height{
    height: 5px;
}

.divider-padding{
    padding: 0px 15px 0px 15px;
}

// Practice Areas

.practice-area-content{
    margin-bottom: $base-margin;
    max-width: 900px;
}

.rotated {
    position: relative;
    bottom: 5px;
    left: 11px;
    transform: rotate(180deg);
}

