---
layout: default
permalink: /contact_us/
---

<div class="container branchbox">
    <div class="row">
        <div class="col-sm-8 left-branch">
            <div class="heading"><h3>{{site.data.contact_us.branch1-heading}}</h3></div>
            <div class="content">
                {% for item in site.data.contact_us.branch1-content %}
                <p><img class="smallicon" src="item.url"/>{{item.text}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container branchbox">
    <div class="row">
        <div class="col-sm-8 right-branch">
            <div class="heading"><h3>{{site.data.contact_us.branch2-heading}}</h3></div>
            <div class="content">
                {% for item in site.data.contact_us.branch2-content %}
                <p><img class="smallicon" src="item.url"/>{{item.text}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




