---
layout: default
permalink: /who_we_are/
featured_image: '/images/banner-lawbooks.jpg'
title: 'Who We Are'
---

{% for item in site.data.who_we_are.content%}
<div class="container">
    <div class="row">
        <div class="heading"><h3>{{ item.heading }}</h3></div>
        <div class="content">
                <p class="text">{{ item.text }}</p>
       	</div>
    </div>  
</div>
{% endfor %}

{% for item in site.data.who_we_are.the_team%}
<div class="container">
    <div class="row">
        <div class="heading"><h3>{{ item.heading }}</h3></div>
            <div class="the_team">
            	<p class="text">{{ item.intro-text}}
            </div>
    </div>
</div>
{% endfor %}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
        	<div class="img-block">
        		<img class="bio-img" src="/images/tillman.jpg"/>
        	</div>
        </div>
       	{% for item in site.data.who_we_are.tt-bio%}
    	<div class="col-sm-8">
        	<div class="heading"><h3>{{ item.heading }}</h3></div>
            	<div class="bio">
            		<p class="text">{{ item.upper-text}}
            	</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">
    {% for item in site.data.who_we_are.at-bio%}
    	<div class="col-sm-8">
        	<div class="heading"><h3>{{ item.heading }}</h3></div>
            	<div class="bios">
            		<p class="text">{{ item.mid-text}}
            	</div>
        </div>
    {% endfor %}
        <div class="col-sm-4">
        	<div class="img-block">
        		<img class="bio-img" src="/images/andre.jpg"/>
        	</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
    	<div class="col-sm-4 img-block">
        	<div>
        		<img class="bio-img" src="/images/rae.jpg"/>
        	</div>
      	</div>
     {% for item in site.data.who_we_are.rt-bio%}
      	<div class="col-sm-8">
        	<div class="heading"><h3>{{ item.heading }}</h3></div>
            	<div class="bios">
            		<p class="text">{{ item.lower-text}}
            	</div>
        </div>
     {% endfor %}
    </div>
</div>
