---
layout: default
permalink: /who_we_are/
featured_image: '/images/banner-lawbooks.jpg'
---

{% for item in site.data.who_we_are.content%}
<div class="container border categories">
    <div class="row">
        <div class="col-sm-12 heading centered-text"><h3>{{ item.heading }}</h3></div>
        <div class="content">
                <p class="text base-padding {{item.format}}">{{ item.text }}</p>
       	</div>
    </div>  
</div>
{% endfor %}

<div class="container border categories">
    <div class="row">
        <div class="col-sm-12 heading centered-text"><h3>{{ site.data.who_we_are.the_team.heading }}</h3></div>
            <div class="the_team">
            	<p class="text justify-text base-padding">{{ site.data.who_we_are.the_team.intro-text }}</p>
            </div>
    </div>





    {% for item in site.data.who_we_are.bios %}
        <div class="container">
            <div class="row is-flex">
                {% if item.image-location == 'left' %}
                    <div class="col-sm-4">
                        <div class="center-img">
                            <img class="bio-img" src="{{item.image-url}}"/>
                        </div>
                    </div>                       
                    <div class="col-sm-8">
                        <div class="heading base-padding"><h3>{{item.heading}}</h3></div>
                        <div class="bio">
                            <p class="text base-padding justify-text">{{ item.text }}</p>
                        </div>
                    </div>

                {% else %}
                    <div class="col-sm-4 col-sm-push-8">
                        <div class="center-img">    
                            <img class="bio-img" src="{{item.image-url}}/">
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-pull-4">
                        <div class="heading base-padding"><h3>{{item.heading}}</h3></div>
                        <div class="bio">
                            <p class="text base-padding justify-text">{{ item.text }}</p>
                        </div>
                    </div>        
                {% endif %}            
            </div>
        </div>
    {% endfor %}
</div>

